.title {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

#instructions {
  text-align: center;
}

#instructions-title {
  font-weight: bold;
  font-size: 20px;
}

#form {
  width: 800px;
  margin: 30px auto;
  text-align: center;
}

#input {
  text-align: center;
}

#button {
  width: 300px;
  margin-top: 20px;
}

#table-field {
  width: 600px;
  margin: 50px auto;
}

.hidden {
  display: none;
}

#error {
  text-align: center;
  color: red;
}
